@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;

0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,900&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  min-width: 1000px;
  margin: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  min-width: 1100px;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header .additional-bar {
  height: 20px;
  background-color: #0282f9;
  line-height: 20px;
}

header .additional-bar__content {
  display: flex;
  justify-content: flex-end;
}

header .additional-bar__content a {
  text-transform: uppercase;
  color: white;
  margin: 0 1rem;
  font-size: 10px;
}

header .menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 1000px;
}

header .menu__logo {
  width: 5rem;
  padding: 5px;
}

header .menu nav ul {
  display: flex;
}

header .menu nav ul li {
  text-transform: uppercase;
  margin: 0 1rem;
  line-height: 83px;
}

header .menu nav ul li.active,
header .menu nav ul li:hover {
  border-bottom: 4px solid #0282f9;
}

.jumbotron {
  min-height: 340px;
  max-height: 360px;
  overflow: hidden;
}

.comics {
  background-color: #303030;
}

.comics__list {
  display: flex;
  flex-wrap: wrap;
}

.comics__list__card {
  width: calc(16.6666666667% - 20px);
  margin: 10px;
}

.comics__list__card .image {
  max-height: 180px;
  overflow: hidden;
}

.comics__list__card h5 {
  padding: 0.5rem 0;
  font-size: 0.8rem;
  font-weight: 500;
  color: white;
}

.single_comic .blue_bar {
  height: 50px;
  background-color: #0282f9;
  margin-bottom: 2rem;
}

.single_comic .comic__infos {
  display: flex;
}

.single_comic .comic__infos__left {
  width: 65%;
  margin-right: 1.5rem;
}

.single_comic .comic__infos__left .title {
  font-size: 25px;
  font-weight: 700;
  padding: 1rem 0;
}

.single_comic .comic__infos__left .price_availability {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  background-color: #55ba59;
}

.single_comic .comic__infos__left .price_availability .price {
  display: flex;
  justify-content: space-between;
  width: 75%;
  border-right: 1px solid gray;
  padding: 10px;
}

.single_comic .comic__infos__left .price_availability .availability {
  padding: 10px;
}

.single_comic .comic__infos__left .description p {
  font-size: 14px;
}

