header {
  .additional-bar {
    height: 20px;
    background-color: $brand-primary-color;
    line-height: 20px;

    &__content {
      display: flex;
      justify-content: flex-end;

      a {
        text-transform: uppercase;
        color: white;
        margin: 0 1rem;
        font-size: 10px;
      }
    }
  }

  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 1000px;

    &__logo {
      width: 5rem;
      padding: 5px;
    }

    nav ul {
      display: flex;

      li {
        text-transform: uppercase;
        margin: 0 1rem;
        line-height: 83px;
        &.active,
        &:hover {
          border-bottom: 4px solid #0282f9;
        }
      }
    }
  }
}